.content-client {
  display: none;
}

.content-client.show {
  display: block;
}

.client-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.client-header:hover {
  background-color: #ccc;
}
