<div class="columns is-tablet is-multiline">
  <div class="column is-half-tablet is-one-third-widescreen is-narrow"
       *ngFor="let client of loadClients()">
    <div class="card">
      <div class="card-content client-header"
           attr.data-client="{{ client.id }}">
        <div>
          <strong>NOME: </strong>{{ client.nome }}

        </div>
        <a [routerLink]="['/edit', client.id]">

          <span class="icon is-right">
            <i class="far fa-eye"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
